
    <app-topnav1></app-topnav1>
    
    <app-asidenav1></app-asidenav1>
    <div class="content-wrapper">
      


       
            <!-- Content Header (Page header) -->
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0">ESPACE_ZOUITA</h1>
                  </div><!-- /.col -->
                  
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
        
            <!-- Main content -->
            <section class="content">
              <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                      <div class="inner">
                        <h3>150<sup style="font-size: 20px">%</sup></h3>
        
                        <p>Voyages Programmés</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-truck"></i>
                      </div>
                      <a routerLink="/espace_Zouita/voyagesProgrammes" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                      <div class="inner">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>
        
                        <p>Voyages Finis</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-truck"></i>
                      </div>
                      <a routerLink="/espace_Zouita/voyagesFinis" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <h3>44<sup style="font-size: 20px">%</sup></h3>
        
                        <p>Voyages En Cours</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-truck"></i>
                      </div>
                      <a routerLink="/espace_Zouita/voyagesEnCours" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <!-- ./col -->
                  <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                      <div class="inner">
                        <h3>65<sup style="font-size: 20px">%</sup></h3>
        
                        <p>Voyages Non Payés</p>
                      </div>
                      <div class="icon">
                        <i class="fas fa-truck"></i>
                      </div>
                      <a routerLink="/espace_Zouita/voyagesNonPayes" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                  <!-- ./col -->
                </div>

</div>

</section>
  </div>
  
  